[package]
name = "cendol"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
bumpalo = "3.16"
hashbrown = { version = "0.16", features = ["serde"] }
thiserror = "2.0"
anyhow = "1.0"
log = "0.4"
env_logger = "0.11"
itertools = "0.14"
indexmap = "2.13"
chrono = "0.4"
bitflags = { version = "2.6", features = ["serde"] }
target-lexicon = "0.13"
symbol_table = { version = "0.5", features = ["global", "serde"] }
cranelift = "0.127"
cranelift-module = "0.127"
cranelift-object = "0.127"
cranelift-frontend = "0.127"
annotate-snippets = "0.12"
bitvec = "1.0"
serde = { version = "1.0", features = ["derive"] }
thin-vec = {version = "0.2", features = ["serde"]}
smallvec = {version = "1.15", features = ["serde"]}
tempfile = "3.10"

[dev-dependencies]
insta = { version = "1.40", features = ["yaml", "serde"] }
serde_yaml = "0.9"
libc = "0.2"

[features]
insta = []

[lints.clippy]
bool_comparison = "allow" ## reason: `== false` is more readable in some cases
