[package]
name = "cendol"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
bumpalo = "3.16"
hashbrown = "0.15"
thiserror = "2.0"
anyhow = "1.0"
log = "0.4"
env_logger = "0.11"
itertools = "0.13"
chrono = "0.4"
bitflags = "2.6"
target-lexicon = "0.12"
symbol_table = { version = "0.3", features = ["global"] }
annotate-snippets = "0.12"
bitvec = "1.0"

[dev-dependencies]
insta = { version = "1.40", features = ["yaml"] }
serde_yaml = "0.9"

[features]
insta = []

